@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ViRegular, sans-serif;
  color: #595969;
  background: #fff;
}

.parent {
  padding: 20px 90px 20px 90px;
  scroll-behavior: smooth;
  font-size: 15px;
}
.parent header {
  padding: 16px 0;
  min-height: 60px;
  border-bottom: 1px solid #f5f8fe;
  position: sticky;
  top: 0;
  z-index: 999999;
  width: 100%;
}
.parent header .top_bar {
  width: 100%;
}
.parent header .top_bar nav {
  border-bottom: 1px solid #f5f8fe;
  position: sticky;
  display: flex;
  justify-content: space-between;
}
.parent header .top_bar nav .nav_items {
  display: flex;
  width: 60%;
  padding: 10px;
}
.parent header .top_bar nav .nav_items ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  width: 100%;
}
.parent header .top_bar nav .nav_items ul a {
  list-style: none;
  text-decoration: none;
  color: #2f3043;
  font-size: 16px;
}
.parent header .top_bar nav .nav_items a:hover {
  color: #ed2736;
}
.parent section .Stores {
  padding: 12px 0;
}
.parent section .Stores ul {
  display: flex;
  list-style: none;
}
.parent section .Stores ul li {
  margin: 0px 5px;
  list-style: none;
  text-decoration: none;
}
.parent section .sec_box {
  display: flex;
}
.parent section .sec_box .left_sec {
  width: 50%;
}
.parent section .sec_box .left_sec .bold_txt {
  margin: 20px 0px;
}
.parent section .sec_box .left_sec .bold_txt p {
  color: #001540;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
}
.parent section .sec_box .left_sec .sml_txt {
  color: #595969;
  font-weight: 400;
  font-size: 24px;
}
.parent section .sec_box .left_sec .rating {
  margin: 20px 0px;
  height: 30px;
}
.parent section .sec_box .left_sec .rating img {
  height: 100%;
}
.parent section .sec_box .left_sec .contacts .tabs .icons {
  margin-bottom: 30px;
  display: flex;
  height: 20px;
}
.parent section .sec_box .left_sec .contacts .tabs .icons .images {
  margin-right: 8px;
}
.parent section .sec_box .left_sec .contacts .tabs .icons .txt {
  color: #595969;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
}
.parent section .sec_box .left_sec .contacts .tabs .icons img {
  height: 100%;
}
.parent section .sec_box .left_sec .get {
  padding: 15px 24px;
  border-radius: 50px;
  background: #ed2736 !important;
  height: 50px;
  color: white;
  border: none;
  font-weight: 600;
}
.parent section .sec_box .right_sec {
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}
.parent section .sec_box .right_sec .reviews_ratings button {
  background-color: rgb(241, 247, 241);
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 0px;
}
.parent section .sec_box .right_sec .reviews_ratings .dotted {
  border-bottom: 2px dotted rgb(0, 0, 0);
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #595969;
  font-size: 16px;
}
.parent section .sec_box .right_sec .reviews_ratings .reviews {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.parent section .sec_box .right_sec .reviews_ratings .reviews p {
  color: #2f3043;
  font-size: 16px;
  font-weight: 900;
}
.parent section .sec_box .right_sec .reviews_ratings .stars {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.parent section .sec_box .right_sec .reviews_ratings .stars img {
  height: 30px;
}
.parent section .sec_box .right_sec .reviews_ratings .customers {
  margin-right: 14px;
  font-size: 12px;
  justify-content: space-between;
  display: flex;
  color: #595969;
  margin-right: 14px;
  font-size: 16px;
}
.parent section .sec_box .right_sec .reviews_ratings .customers .txt {
  display: flex;
}
.parent section .sec_box .right_sec .reviews_ratings .customers img {
  height: 20px;
  margin-left: 10px;
}
.parent section .sec_box .right_sec .options .option_tab {
  justify-content: space-between;
  display: flex;
}
.parent section .sec_box .right_sec .options .option_tab p {
  margin: 20px 0px;
  color: #2f3043;
  font-size: 19px;
  font-weight: 400;
}
.parent section .sec_box .right_sec .options .option_tab img {
  height: 20px;
}
.parent section .sec_box .right_sec .options .option_tab .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent section .page2 .home img {
  border-radius: 30px;
  width: 100%;
}
.parent section .page2 .home_txt {
  text-align: center;
}
.parent section .page2 .home_txt p {
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
  margin: 0 0 15px;
  text-align: center;
  font-weight: 400;
  text-transform: lowercase;
  margin: 36px 0px;
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
}
.parent section .page2 .home_cards {
  display: flex;
  justify-content: space-between;
}
.parent section .page2 .home_cards .card1 {
  padding: 18px;
  border: 1.5px solid #f4f8fe;
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 30%;
}
.parent section .page2 .home_cards .card1 .icons {
  margin-bottom: 30px;
  display: flex;
  height: 20px;
}
.parent section .page2 .home_cards .card1 .icons .images {
  margin-right: 8px;
}
.parent section .page2 .home_cards .card1 .icons .adress p {
  font-size: 15px;
  margin: 0;
  color: #595969;
  font-weight: 400;
  padding: 2px;
}
.parent section .page2 .home_cards .card1 .icons img {
  height: 100%;
}
.parent section .page2 .intro {
  text-align: center;
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
  margin: 0 0 15px;
  text-align: center;
  font-weight: 400;
  text-transform: lowercase;
  margin: 36px 0px;
}
.parent section .page2 .txt_form {
  justify-content: center;
  display: flex;
  text-align: center;
}
.parent section .page2 .txt_form .forms {
  justify-self: center;
  width: 50%;
  display: grid;
  color: #2f3043;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.parent section .page2 .txt_form .forms input {
  width: 100%;
  border: 1px solid #2f3043;
  height: 60px;
  font-size: 14px;
  background: #fff;
  padding: 7px 15px;
  border-radius: 8px;
  color: #898888;
}
.parent section .page2 .sub_btn {
  justify-content: center;
  display: flex;
  margin: 60px 0px;
}
.parent section .page2 .sub_btn button {
  width: 300px;
  background-color: #ed2736;
  color: white;
  border: none;
  height: 50px;
  border-radius: 30px;
}
.parent section .page3 .featured_container .services {
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
  margin: 0 0 15px;
  text-align: center;
  font-weight: 400;
}
.parent section .page3 .featured_container .feat_serv {
  justify-content: space-between;
  display: flex;
}
.parent section .page3 .featured_container .feat_serv .feat_box .feat_img {
  height: 80px;
}
.parent section .page3 .featured_container .feat_serv .feat_box .feat_img img {
  height: 100%;
}
.parent section .page3 .featured_container .feat_serv .feat_box li {
  list-style: none;
}
.parent section .page3 .featured_container .feat_serv .feat_box li a {
  font-weight: 400;
  color: #404040;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
.parent section .page3 .featured_container .feat_serv .feat_box li a:hover {
  color: red;
}
.parent section .about_us .top_line {
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 60px;
}
.parent section .about_us .intro {
  display: flex;
}
.parent section .about_us .intro p {
  font-size: 24px;
  color: #595969;
}
.parent section .blogs p {
  margin: 50px 0px;
  color: #2f3043;
  font-size: 40px;
  font-family: ViBold, sans-serif;
  text-align: center;
  font-weight: 400;
}
.parent section .blogs .blog_cards .card_items {
  display: flex;
}
.parent section .blogs .blog_cards .card_items .fansy_card .card_img img {
  border-radius: 15px;
}
.parent section .blogs .blog_cards .card_items p {
  margin: 10px;
  font-size: 20px;
  text-align: left;
}
.parent section .social {
  margin: 50px 0px;
  color: #2f3043;
  font-size: 40px;
  font-family: ViBold, sans-serif;
  text-align: center;
  font-weight: 400;
}
.parent section .social .timeline {
  margin: 50px 0px;
}
.parent section .social .social_cards {
  display: flex;
}
.parent section .social .social_cards .card_tabs {
  width: 30%;
  position: relative;
  border: 0;
  transition: 0.3s;
  padding: 0;
  border-radius: 10px;
  max-width: 100%;
  margin: 9px;
  padding: 12px;
  color: #2f3043;
  overflow: hidden;
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.4);
}
.parent section .social .social_cards .card_tabs p {
  font-size: 15px;
}
.parent section .social .social_cards .social_handle {
  display: flex;
}
.parent section .social .social_cards .social_handle img {
  height: 50px;
}
.parent section .discover {
  margin: 50px 0px;
}
.parent section .discover .dis_txt p {
  color: #2f3043;
  font-size: 30px;
  font-family: ViBold, sans-serif;
  text-align: center;
  font-weight: 400;
}
.parent section .qr_code {
  display: flex;
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 18px 30px;
}
.parent section .qr_code .qr_img img {
  border: 3px solid red;
  padding: 10px;
}
.parent section .qr_code button {
  background-color: #ed2736;
  border-radius: 26px !important;
  padding: 12px 24px !important;
  height: 40px;
  color: white;
  border: none;
  margin-left: 20px;
}
.parent section .qr_code .qr_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent section .fullscn {
  display: flex;
}
.parent section .fullscn img {
  height: 30px;
}
.parent footer {
  margin: 50px 0px;
}
.parent footer .catg {
  justify-content: space-between;
  display: flex;
}
.parent footer .catg .categories .bold {
  color: #2f3043;
  font-size: 19px;
  font-weight: 400;
}
.parent footer .catg .categories p {
  color: #2f3043;
  font-size: 15px;
  margin-bottom: 15px;
}
.parent footer .catg .categories .pin_code {
  display: flex;
}
.parent footer .catg .categories .pin_code p {
  color: blue;
}
.parent footer .catg .categories .pin_code img {
  height: 20px;
}
.parent footer .bottom_bar {
  justify-content: center;
  display: flex;
}
.parent footer .bottom_bar img {
  height: 40px;
  margin: 0px 10px;
}
.parent footer .bottom_bar .powerd {
  text-align: center;
}/*# sourceMappingURL=style.css.map */